.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 80px;


}

.navbar h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    /* background: linear-gradient(267deg, #DA7C25 0.36%, #b923e1 102.06%); */
    background-color: greenyellow;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.navbar h1 span {
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
}


.nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    font-size: 18px;
}

.nav-connect {
    padding: 10px 25px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #b923e1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;

}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}




/* Media Query*/
@media (max-width:425px) {
    .navbar {
        width: 100%;
        margin: 0;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 5px;
        width: 25px;
        cursor: pointer;

    }
    .nav-mob-close {
        display: block;
        position: relative;
        left: 170px;
        top: 28px;
        width: 20px;
        cursor: pointer;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f001f;
        width: 200px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li {
        font-size: 20px;
        padding-left: 20px;
        flex-direction: row;
        gap: 10px;
    }
}

/* Media Query*/
@media (max-width:768px) {
    .navbar{
        width: 100%;
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        left: 290px;
        top: 60px;
        width: 35px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f001f;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
    .navbar h1 span {
        font-size: 60px;
        font-style: italic;
        font-weight: bold;
    }    
}